/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
.menu-link {
    display: block;
    line-height: 22px;
    padding: 14px 5px;
    color: #444;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.menu-link span {
    display: none;
}

.menu-link i {
    position: relative;
    top: -1px;
    font-size: 1rem;
    width: 16px;
    text-align: center;
    margin-right: 12px;
    vertical-align: top;
}
